@font-face {
    font-family: 'bold';
    src: url('../fonts/Roboto_Condensed-Bold.ttf') format('truetype');
        
   
    
}
@font-face {
    font-family: 'light';
    src: url('../fonts/Roboto_Condensed-Light.ttf') format('truetype');
        
   
    
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/Roboto_Condensed-Medium.ttf') format('truetype');
        
   
    
}


@font-face {
    font-family: 'extralight';
    src: url('../fonts/Roboto_Condensed-ExtraLight.ttf') format('truetype');
        
   
    
}



