.footer{
    height: 15%;
    margin-top: 100px;
    margin-bottom: 50px;

}

.spacefooter{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}

.foot2{
    display: flex;
}

.subfoot1,
.subfoot2{
    display: flex;
    flex-direction: column;
    text-align: start;

}
.subfoot1 >a:first-child{
    color: #B1B1B1;
    font-family: light;
}
.subfoot2 >a:first-child{
    color: #B1B1B1;
    font-family: light;
}

.subfoot2{
    margin-left: 60px;
}

.subfoot1 a,
.subfoot2 a{
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    color: #0F0F0F;
}

.links a{
    color: #017CFF;

}
.foot1 h2{
    color:#0F0F0F
}
